/* SEE END OF FILE FOR EDITING THESE VALUES */

.carousel {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  line-height: 0;
}

.carousel .content {
  position: absolute;
  overflow: hidden;
}

.carousel .text {
  position: absolute;
  top: 294px;
  left: 10px;
  width: 780px;
  height: 52px;
  color: white;
  font-family: Meiryo, sans-serif;
  z-index: 11;
}

.carousel .text .container {
  position: relative;
  width: 780px;
  height: 52px;
}

.carousel .text .container a {
  text-decoration: none;
  color: white;
}

.carousel .text .container a:hover {
  color: red;
}

.carousel .text .container h2 {
  position: absolute;
  top: -5px;
  font-size: 19pt;
  font-weight: normal;
}

.carousel .text .container h3 {
  position: absolute;
  top: 28px;
  left: 2px;
  font-size: 11pt;
  font-weight: normal;
}

.carousel .opaque-layer {
  position: absolute;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.carousel .image-container {
  position: absolute;
}

.carousel .image-left {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .image-right {
  position: absolute;
  top: 0;
}

.carousel ul {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel ul li {
  position: relative;
  list-style: none;
}

.carousel ul img.thumb {
  position: relative;
  border: 2px solid #999999;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
}

.carousel ul img:hover {
  border: 2px solid red;
}

.carousel .frame {
  position: absolute;
}

/* PUT YOUR EDITED VALUES HERE */

/*
This is an example of custom value override:

.carousel .text .container h2 {
  top: 7px;
  font-size: 14pt;
}

.carousel ul img.thumb {
  border: 2px solid pink;
}
*/