.carousel {
  padding: 0;
  margin: 0;
  position: relative;
  width: 1014px;
  height: 368px;
  overflow: hidden;
  line-height: 0;
}

.carousel .content {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 997px;
  height: 354px;
  overflow: hidden;
}

.carousel .text {
  position: absolute;
  top: 294px;
  left: 10px;
  width: 780px;
  height: 52px;
  color: white;
  font-family: Meiryo, sans-serif;
  z-index: 11;
}

.carousel .text .container {
  position: relative;
  width: 780px;
  height: 52px;
}

.carousel .text .container a {
  text-decoration: none;
  color: white;
}

.carousel .text .container a:hover {
  color: red;
}

.carousel .text .container h2 {
  position: absolute;
  top: -5px;
  font-size: 19pt;
  font-weight: normal;
}

.carousel .text .container h3 {
  position: absolute;
  top: 28px;
  left: 2px;
  font-size: 11pt;
  font-weight: normal;
}

.carousel .opaque-layer {
  position: absolute;
  width: 997px;
  height: 354px;
  background: url("bk_bg8.png") no-repeat;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.carousel .image-container {
  position: absolute;
  width: 997px;
  height: 354px;
}

.carousel .image-left {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .image-right {
  position: absolute;
  top: 0;
  left: 997px;
}

.carousel ul {
  position: absolute;
  top: -10px;
  left: 560px;
  width: 400px;
  height: 345px;
  z-index: 10;
  overflow: hidden;
}

.carousel ul li {
  position: relative;
  left: 200px;
  list-style: none;
}

.carousel ul img {
  position: relative;
  margin-bottom: 6px;
  border: 2px solid #999999;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
}

.carousel ul img:hover {
  border: 2px solid red;
}

.carousel .frame {
  position: absolute;
  width: 1014px;
  height: 368px;
  background: url("outline24.png") no-repeat;
}
